/*!
* jQuery Mobile 1.3.2
* Git HEAD hash: 528cf0e96940644ea644096bfeb913ed920ffaef <> Date: Fri Jul 19 2013 22:17:57 UTC
* http://jquerymobile.com
*
* Copyright 2010, 2013 jQuery Foundation, Inc. and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/


/* Swatches */
/* A
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-a {
    border: 1px solid #009245 /*{a-bar-border}*/;
    background: #009245 /*{a-bar-background-color}*/;
    color: #ffffff /*{a-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #00a04b /*{a-bar-background-start}*/), to( #00833e /*{a-bar-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient( #00a04b /*{a-bar-background-start}*/, #00833e /*{a-bar-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient( #00a04b /*{a-bar-background-start}*/, #00833e /*{a-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #00a04b /*{a-bar-background-start}*/, #00833e /*{a-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #00a04b /*{a-bar-background-start}*/, #00833e /*{a-bar-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient( #00a04b /*{a-bar-background-start}*/, #00833e /*{a-bar-background-end}*/);
}
.ui-bar-a .ui-link-inherit {
    color: #ffffff /*{a-bar-color}*/;
}
.ui-bar-a a.ui-link {
    color: #7cc4e7 /*{a-bar-link-color}*/;
    font-weight: bold;
}
.ui-bar-a a.ui-link:visited {
    color: #2489ce /*{a-bar-link-visited}*/;
}
.ui-bar-a a.ui-link:hover {
    color: #2489ce /*{a-bar-link-hover}*/;
}
.ui-bar-a a.ui-link:active {
    color: #2489ce /*{a-bar-link-active}*/;
}
.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
         font-family: Lato /*{global-font-family}*/;
}
.ui-body-a,
.ui-overlay-a {
    border: 1px solid #8c8c8c /*{a-body-border}*/;
    color: #000000 /*{a-body-color}*/;
    text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #eeeeee /*{a-body-shadow-color}*/;
    background: #ffffff /*{a-body-background-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{a-body-background-start}*/), to( #FFFFFF /*{a-body-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/);
}
.ui-overlay-a {
    background-image: none;
    border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
         font-family: Lato /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
    color: #000000 /*{a-body-color}*/;
}
.ui-body-a .ui-link {
    color: #007e3b /*{a-body-link-color}*/;
    font-weight: bold;
}
.ui-body-a .ui-link:visited {
    color: #005126 /*{a-body-link-visited}*/;
}
.ui-body-a .ui-link:hover {
    color: #459043 /*{a-body-link-hover}*/;
}
.ui-body-a .ui-link:active {
    color: #007e3b /*{a-body-link-active}*/;
}
.ui-btn-up-a {
    border: 1px solid #e0e9d3 /*{a-bup-border}*/;
    background: #e0e9d3 /*{a-bup-background-color}*/;
    font-weight: bold;
    color: #000000 /*{a-bup-color}*/;
    text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #eeeeee /*{a-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6FFe8 /*{a-bup-background-start}*/), to( #c9d1bd /*{a-bup-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient( #f6FFe8 /*{a-bup-background-start}*/, #c9d1bd /*{a-bup-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient( #f6FFe8 /*{a-bup-background-start}*/, #c9d1bd /*{a-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6FFe8 /*{a-bup-background-start}*/, #c9d1bd /*{a-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f6FFe8 /*{a-bup-background-start}*/, #c9d1bd /*{a-bup-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient( #f6FFe8 /*{a-bup-background-start}*/, #c9d1bd /*{a-bup-background-end}*/);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
    color: #000000 /*{a-bup-color}*/;
}
.ui-btn-hover-a {
    border: 1px solid #FFFFf2 /*{a-bhover-border}*/;
    background: #FFFFf2 /*{a-bhover-background-color}*/;
    font-weight: bold;
    color: #000000 /*{a-bhover-color}*/;
    text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #eeeeee /*{a-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{a-bhover-background-start}*/), to( #e5e5d9 /*{a-bhover-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #e5e5d9 /*{a-bhover-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #e5e5d9 /*{a-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #e5e5d9 /*{a-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #e5e5d9 /*{a-bhover-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #e5e5d9 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
    color: #000000 /*{a-bhover-color}*/;
}
.ui-btn-down-a {
    border: 1px solid #FFFFf2 /*{a-bdown-border}*/;
    background: #FFFFf2 /*{a-bdown-background-color}*/;
    font-weight: bold;
    color: #000000 /*{a-bdown-color}*/;
    text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #eeeeee /*{a-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #e5e5d9 /*{a-bdown-background-start}*/), to( #FFFFFF /*{a-bdown-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient( #e5e5d9 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient( #e5e5d9 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #e5e5d9 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #e5e5d9 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient( #e5e5d9 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
    color: #000000 /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
         font-family: Lato /*{global-font-family}*/;
    text-decoration: none;
}
/* B
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-b {
    border: 1px solid #009245 /*{b-bar-border}*/;
    background: #009245 /*{b-bar-background-color}*/;
    color: #ffffff /*{b-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 0 /*{b-bar-shadow-radius}*/ #444444 /*{b-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #00a04b /*{b-bar-background-start}*/), to( #00833e /*{b-bar-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient( #00a04b /*{b-bar-background-start}*/, #00833e /*{b-bar-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient( #00a04b /*{b-bar-background-start}*/, #00833e /*{b-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #00a04b /*{b-bar-background-start}*/, #00833e /*{b-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #00a04b /*{b-bar-background-start}*/, #00833e /*{b-bar-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient( #00a04b /*{b-bar-background-start}*/, #00833e /*{b-bar-background-end}*/);
}
.ui-bar-b .ui-link-inherit {
    color: #ffffff /*{b-bar-color}*/;
}
.ui-bar-b a.ui-link {
    color: #7cc4e7 /*{b-bar-link-color}*/;
    font-weight: bold;
}
.ui-bar-b a.ui-link:visited {
    color: #2489ce /*{b-bar-link-visited}*/;
}
.ui-bar-b a.ui-link:hover {
    color: #2489ce /*{b-bar-link-hover}*/;
}
.ui-bar-b a.ui-link:active {
    color: #2489ce /*{b-bar-link-active}*/;
}
.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
         font-family: Lato /*{global-font-family}*/;
}
.ui-body-b,
.ui-overlay-b {
    border: 1px solid #54cc60 /*{b-body-border}*/;
    color: #ffffff /*{b-body-color}*/;
    text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #444444 /*{b-body-shadow-color}*/;
    background: #009245 /*{b-body-background-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #00a04b /*{b-body-background-start}*/), to( #00833e /*{b-body-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient( #00a04b /*{b-body-background-start}*/, #00833e /*{b-body-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient( #00a04b /*{b-body-background-start}*/, #00833e /*{b-body-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #00a04b /*{b-body-background-start}*/, #00833e /*{b-body-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #00a04b /*{b-body-background-start}*/, #00833e /*{b-body-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient( #00a04b /*{b-body-background-start}*/, #00833e /*{b-body-background-end}*/);
}
.ui-overlay-b {
    background-image: none;
    border-width: 0;
}
.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
         font-family: Lato /*{global-font-family}*/;
}
.ui-body-b .ui-link-inherit {
    color: #ffffff /*{b-body-color}*/;
}
.ui-body-b .ui-link {
    color: #007e3b /*{b-body-link-color}*/;
    font-weight: bold;
}
.ui-body-b .ui-link:visited {
    color: #005126 /*{b-body-link-visited}*/;
}
.ui-body-b .ui-link:hover {
    color: #459043 /*{b-body-link-hover}*/;
}
.ui-body-b .ui-link:active {
    color: #007e3b /*{b-body-link-active}*/;
}
.ui-btn-up-b {
    border: 1px solid #e0e9d3 /*{b-bup-border}*/;
    background: #e0e9d3 /*{b-bup-background-color}*/;
    font-weight: bold;
    color: #000000 /*{b-bup-color}*/;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #eeeeee /*{b-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6FFe8 /*{b-bup-background-start}*/), to( #c9d1bd /*{b-bup-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient( #f6FFe8 /*{b-bup-background-start}*/, #c9d1bd /*{b-bup-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient( #f6FFe8 /*{b-bup-background-start}*/, #c9d1bd /*{b-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6FFe8 /*{b-bup-background-start}*/, #c9d1bd /*{b-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f6FFe8 /*{b-bup-background-start}*/, #c9d1bd /*{b-bup-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient( #f6FFe8 /*{b-bup-background-start}*/, #c9d1bd /*{b-bup-background-end}*/);
}
.ui-btn-up-b:visited,
.ui-btn-up-b a.ui-link-inherit {
    color: #000000 /*{b-bup-color}*/;
}
.ui-btn-hover-b {
    border: 1px solid #FFFFf2 /*{b-bhover-border}*/;
    background: #FFFFf2 /*{b-bhover-background-color}*/;
    font-weight: bold;
    color: #000000 /*{b-bhover-color}*/;
    text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 0 /*{b-bhover-shadow-radius}*/ #eeeeee /*{b-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{b-bhover-background-start}*/), to( #e5e5d9 /*{b-bhover-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #e5e5d9 /*{b-bhover-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #e5e5d9 /*{b-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #e5e5d9 /*{b-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #e5e5d9 /*{b-bhover-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #e5e5d9 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b:visited,
.ui-btn-hover-b:hover,
.ui-btn-hover-b a.ui-link-inherit {
    color: #000000 /*{b-bhover-color}*/;
}
.ui-btn-down-b {
    border: 1px solid #FFFFf2 /*{b-bdown-border}*/;
    background: #FFFFf2 /*{b-bdown-background-color}*/;
    font-weight: bold;
    color: #000000 /*{b-bdown-color}*/;
    text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 0 /*{b-bdown-shadow-radius}*/ #eeeeee /*{b-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #e5e5d9 /*{b-bdown-background-start}*/), to( #FFFFFF /*{b-bdown-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient( #e5e5d9 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient( #e5e5d9 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #e5e5d9 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #e5e5d9 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient( #e5e5d9 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/);
}
.ui-btn-down-b:visited,
.ui-btn-down-b:hover,
.ui-btn-down-b a.ui-link-inherit {
    color: #000000 /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
         font-family: Lato /*{global-font-family}*/;
    text-decoration: none;
}


/* Structure */
/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/
a.ui-link-inherit {
    text-decoration: none !important;
}
/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
    border: 1px solid #00b460 /*{global-active-border}*/;
    background: #00b460 /*{global-active-background-color}*/;
    font-weight: bold;
    color: #ffffff /*{global-active-color}*/;
    cursor: pointer;
    text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 0 /*{global-active-shadow-radius}*/ #444444 /*{global-active-shadow-color}*/;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #00c669 /*{global-active-background-start}*/), to( #00a256 /*{global-active-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient( #00c669 /*{global-active-background-start}*/, #00a256 /*{global-active-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient( #00c669 /*{global-active-background-start}*/, #00a256 /*{global-active-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #00c669 /*{global-active-background-start}*/, #00a256 /*{global-active-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #00c669 /*{global-active-background-start}*/, #00a256 /*{global-active-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient( #00c669 /*{global-active-background-start}*/, #00a256 /*{global-active-background-end}*/);
         font-family: Lato /*{global-font-family}*/;
}
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
    color: #ffffff /*{global-active-color}*/;
}
/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-inner {
    border-top: 1px solid   #fff;
    border-color:           rgba(255,255,255,.3);
}
/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/
.ui-corner-all {
    -webkit-border-radius: .6em /*{global-radii-blocks}*/;
    border-radius: .6em /*{global-radii-blocks}*/;
}
/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
    border-color: rgb(130,130,130);
    border-color: rgba(130,130,130,.3);
    border-style: solid;
}
/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
    filter: Alpha(Opacity=30);
    opacity: .3;
    zoom: 1;
}
.ui-disabled,
.ui-disabled a {
    cursor: default !important;
    pointer-events: none;
}
/* Icons
-----------------------------------------------------------------------------------------------------------*/
.ui-icon,
.ui-icon-searchfield:after {
    background: #00b460 /*{global-icon-color}*/;
    background: rgba(0,180,96,1) /*{global-icon-disc}*/;
    background-image: url(images/icons-18-black.png) /*{global-icon-set}*/;
    background-repeat: no-repeat;
    -webkit-border-radius:              9px;
    border-radius:                      9px;
}
/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/
.ui-icon-alt .ui-icon,
.ui-icon-alt .ui-icon-searchfield:after {
    background-color:                       #fff;
    background-color:                       rgba(255,255,255,.3);
    background-image: url(images/icons-18-black.png);
    background-repeat: no-repeat;
}
/* No disc
-----------------------------------------------------------------------------------------------------------*/
.ui-icon-nodisc .ui-icon,
.ui-icon-nodisc .ui-icon-searchfield:after,
.ui-icon-nodisc .ui-icon-alt .ui-icon,
.ui-icon-nodisc .ui-icon-alt .ui-icon-searchfield:after {
    background-color: transparent;
}
/* Icon sprite
-----------------------------------------------------------------------------------------------------------*/
/* plus minus */
.ui-icon-plus {
    background-position:    -1px -1px;
}
.ui-icon-minus {
    background-position:    -37px -1px;
}
/* delete/close */
.ui-icon-delete {
    background-position:    -73px -1px;
}
/* arrows */
.ui-icon-arrow-r {
    background-position:    -108px -1px;
}
.ui-icon-arrow-l {
    background-position:    -144px -1px;
}
.ui-icon-arrow-u {
    background-position:    -180px -1px;
}
.ui-icon-arrow-d {
    background-position:    -216px -1px;
}
/* misc */
.ui-icon-check {
    background-position:    -252px -1px;
}
.ui-icon-gear {
    background-position:    -288px -1px;
}
.ui-icon-refresh {
    background-position:    -323px -1px;
}
.ui-icon-forward {
    background-position:    -360px -1px;
}
.ui-icon-back {
    background-position:    -396px -1px;
}
.ui-icon-grid {
    background-position:    -432px -1px;
}
.ui-icon-star {
    background-position:    -467px -1px;
}
.ui-icon-alert {
    background-position:    -503px -1px;
}
.ui-icon-info {
    background-position:    -539px -1px;
}
.ui-icon-home {
    background-position:    -575px -1px;
}
/* search */
.ui-icon-search,
.ui-icon-searchfield:after {
    background-position:    -611px -1px;
}
/* checkbox radio */
.ui-icon-checkbox-on {
    background-position:    -647px -1px;
}
.ui-icon-checkbox-off {
    background-position:    -683px -1px;
}
.ui-icon-radio-on {
    background-position:    -718px -1px;
}
.ui-icon-radio-off {
    background-position:    -754px -1px;
}
/* menu edit */
.ui-icon-bars {
    background-position:    -788px -1px;
}
.ui-icon-edit {
    background-position:    -824px -1px;
}
/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-resolution: 200dpi) {
    
    .ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
    .ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
    .ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
    .ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-bars, .ui-icon-edit,
    .ui-icon-search, .ui-icon-searchfield:after, 
    .ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
        background-image: url(images/icons-36-white.png);
        -moz-background-size: 864px 18px;
        -o-background-size: 864px 18px;
        -webkit-background-size: 864px 18px;
        background-size: 864px 18px;
    }
    .ui-icon-alt .ui-icon {
        background-image: url(images/icons-36-black.png);
    }
    .ui-icon-plus {
        background-position:    0 50%;
    }
    .ui-icon-minus {
        background-position:    -36px 50%;
    }
    .ui-icon-delete {
        background-position:    -72px 50%;
    }
    .ui-icon-arrow-r {
        background-position:    -108px 50%;
    }
    .ui-icon-arrow-l {
        background-position:    -144px 50%;
    }
    .ui-icon-arrow-u {
        background-position:    -179px 50%;
    }
    .ui-icon-arrow-d {
        background-position:    -215px 50%;
    }
    .ui-icon-check {
        background-position:    -252px 50%;
    }
    .ui-icon-gear {
        background-position:    -287px 50%;
    }
    .ui-icon-refresh {
        background-position:    -323px 50%;
    }
    .ui-icon-forward {
        background-position:    -360px 50%;
    }
    .ui-icon-back {
        background-position:    -395px 50%;
    }
    .ui-icon-grid {
        background-position:    -431px 50%;
    }
    .ui-icon-star {
        background-position:    -467px 50%;
    }
    .ui-icon-alert {
        background-position:    -503px 50%;
    }
    .ui-icon-info {
        background-position:    -538px 50%;
    }
    .ui-icon-home {
        background-position:    -575px 50%;
    }
    .ui-icon-search,
    .ui-icon-searchfield:after {
        background-position:    -611px 50%;
    }
    .ui-icon-checkbox-on {
        background-position:    -647px 50%;
    }
    .ui-icon-checkbox-off {
        background-position:    -683px 50%;
    }
    .ui-icon-radio-on {
        background-position:    -718px 50%;
    }
    .ui-icon-radio-off {
        background-position:    -754px 50%;
    }
    .ui-icon-bars {
        background-position:    -788px 50%;
    
    }.ui-icon-edit {
        background-position:    -824px 50%;
    }
}
/* checks,radios */
.ui-checkbox .ui-icon,
.ui-selectmenu-list .ui-icon {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
    background-color: transparent;  
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
    background-color: #00b460 /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}
/* loading icon */
.ui-icon-loading {
    background: url(images/ajax-loader.gif);
    background-size: 46px 46px;
}
/* Button corner class
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-corner-all {
    -webkit-border-radius: 1em /*{global-radii-buttons}*/;
    border-radius: 1em /*{global-radii-buttons}*/;
}
/* radius clip workaround for cleaning up corner trapping */
.ui-corner-all,
.ui-btn-corner-all {
    -webkit-background-clip: padding;
    background-clip: padding-box;
}
/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/
.ui-overlay {
    background: #666;
    filter: Alpha(Opacity=50);
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
}
.ui-overlay-shadow {
    -moz-box-shadow: 0 0 12px           rgba(0,0,0,.6);
    -webkit-box-shadow: 0 0 12px        rgba(0,0,0,.6);
    box-shadow: 0 0 12px                rgba(0,0,0,.6);
}
.ui-shadow {
    -moz-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    -webkit-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
    -moz-box-shadow: 0 1px 0                rgba(255,255,255,.3);
    -webkit-box-shadow: 0 1px 0             rgba(255,255,255,.3);
    box-shadow: 0 1px 0                     rgba(255,255,255,.3);
}
.ui-shadow-inset {
    -moz-box-shadow: inset 0 1px 4px        rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 4px     rgba(0,0,0,.2);
    box-shadow: inset 0 1px 4px             rgba(0,0,0,.2);
}
.ui-icon-shadow {
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
    box-shadow: 0 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
}
/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/
.ui-btn:focus, .ui-link-inherit:focus {
    outline: 0;
}
.ui-btn.ui-focus {
    z-index: 1;
}
.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: inset 0 0 3px #00b460 /*{global-active-background-color}*/, 0 0 9px #00b460 /*{global-active-background-color}*/;
    -webkit-box-shadow: inset 0 0 3px #00b460 /*{global-active-background-color}*/, 0 0 9px #00b460 /*{global-active-background-color}*/;
    box-shadow: inset 0 0 3px #00b460 /*{global-active-background-color}*/, 0 0 9px #00b460 /*{global-active-background-color}*/;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
    -moz-box-shadow: 0 0 12px #00b460 /*{global-active-background-color}*/;
    -webkit-box-shadow: 0 0 12px #00b460 /*{global-active-background-color}*/;
    box-shadow: 0 0 12px #00b460 /*{global-active-background-color}*/;  
}
/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/
.ui-mobile-nosupport-boxshadow * {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
    outline-width: 1px;
    outline-style: auto;
}