h1 {
        font-family: Lato
    }
    h1.cent {
        text-size: large;
        text-align:center;
        font-weight:900;
        text-shadow: 1px 1px 1px rgba(25, 25, 25, 1);
            color:#fff
    }
    h1.cent2 {
        text-align:center;
        font-weight:500;
        font-size:medium;
        text-shadow: 1px 1px 1px rgba(25, 25, 25, 1);
            color:#fff
    }
    .sh {
        font-size: small;
        text-align: center;
         text-shadow: 0px 0px 0px rgba(25, 25, 25, 1);
    }
    span.sh {
        font-size: small;
        text-align: center;
         text-shadow: 0px 0px 0px rgba(25, 25, 25, 1);
    }
    h3 {
        font-family: Lato
    }
    p {
        font-family: Lato
    }
    a {
        font-family: Lato
    }
    label {
        font-family: Lato
    }
    input {
        font-family: Lato
    }
    table {
    	font-family: "Lato";
    	color:#333333;
    	border-width: 1px;
    	border-color: #a9c6c9;
    	border-collapse: collapse;
    }
    table td {
    	border-width: 1px;
    	padding: 8px;
    	border-style: solid;
    	border-color: #a9c6c9;
        background-color:#d4e3e5;
        font-size: 13px;
    }
    table th {
        border-width: 1px;
    	padding: 8px;
    	border-style: solid;
    	border-color: #a9c6c9;
        background-color:#f4f3f5;
        font-size: 13px;
    }
    .ra:before {
        content: '\00BB \00a0 \00a0 ';
    }
    .credits h2 {
        font-size:large;
        font-weight:900;
        margin-bottom: 0px;
    }
    .credits blockquote {
        margin-top: 0px;
        font-size:0.9em;
    }
    .credits h5 {
        font-size:medium;
        margin-bottom: 0px
    }
    .credits {
        font-size: small;
    }